.todo {
  display: flex;
  justify-content: center;
  left: 300px;
}

table {
  width: 700px;
  height: 600px;
  border-collapse: collapse;
}

td {
  border: 1px solid blue;
  width: 95px;
  height: 95px;
}

.chip {
  background-color: red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.copiedChip {
  background-color: red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 10px;
}

.black {
  background-color: black;
}